@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-textMain font-sans antialiased;
  }
}

/* Custom scrollbar for web view if needed, though mostly for mobile */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #CBD5E1;
  border-radius: 20px;
}